// Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:4rem;



// COLOR
$color-primary:#065446;

$color-primary-light: #c1e7bdc5;
$color-primary-dark: #28b485;

$color-secondary-light: rgb(235, 184, 74);
$color-secondary-dark: rgba(199, 142, 58, 0.671);

$color-tertiary-light: rgb(128, 191, 233);
$color-tertiary-dark: rgb(6, 108, 126);
$color-dark: #2C3639;
$color-light: #DCD7C9;
$color-text: #A25B5B;


// FONT

$default-font-size:1.6rem;