.story {
    padding: 6rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 3rem 6rem  rgba(245, 240, 240, 0.15);
    width: 75%;
    border-radius: 5px;
    font-size: $default-font-size;
    transform: skewX(-15deg);
    padding-left: 9rem;
    

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0deg);
    }
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        transform: translate(-3rem) skewX(15deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        @include respond(phone) {
            transform:  translate(-3rem) skewX(0deg);
        }

        @supports(clip-path: polygon(0,0)) or (-webkit-clip-path: polygon(0,0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all 0.4s;

    }

    &__text {
        transform: skewX(15deg);

        @include respond(phone) {
            transform: skewX(0deg);
        }
    }

    &__caption {
        position: absolute;
        top:50%;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        transform: translate(-50% ,20%);
        font-size:1.7rem;
        font-weight:700;
        opacity: 0;
        transition: all 0.4s;
        color: white;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50% ,-50%);
        
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}